<% if user_signed_in? %>
<% else %>
<div class="center hero-unit">
	<div align="center">
		<h1>Days of Impact</h1>
		<div class="spacer-10"></div>
		<p>Skillshare tutorial covering Ruby. <%= link_to "Find me on git", "https://github.com/sbhatti54/skillshare" %></p>
		<p>
			<%=link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
		</p>
	</div>
</div>

<% end %>