<div class="center hero-unit">
	<div align="center">
		<h1>About</h1>
		<div class="spacer-10"></div>
		<p> This is based on Ruby tutorial from Skillshare that allows users to have a Pinterest like experience</p>

		<%=link_to("http://www.skillshare.com/Teach-Yourself-to-Code-One-Month-Rails/1289605848/1921775376/classroom?via=browse", html_options = {class: "btn btn-primary"}) do %>
  		Start Tutorial
		<% end %>
		
	</div>
</div>
