h1#calculator{
	font-size: 1.2em;
	background-color: none !important;
}

input{
	margin: 10px auto 0 auto !important;
	height: 43px !important;
	border-radius: 0px !important;
	width: 90%;
	-webkit-appearance: none;
}

form{
	margin: -46px 0 20px;
}

.btn-cal{
	border-radius: 0px;
	margin: 10px auto 0 133%;
	width: 150%;
	border-radius: 0px;
}

.btn-back{
	width: 50%;
	height: 33px;
}

h1#results{
	margin: 100px auto 0 auto;
	color: #ff0018;
	font-size: 2em;
}

h1#cost{
	color: #fff !important;
	font-size: 1em;
}

h1#title{
	font-size: 1em !important;
	color: #fff !important;
}

#box1{
	background-color: #525250;
	height: 220px;
}

#box2{
	background-color: #525250;
	height: 120px;
}

#box3{
	background-color: #525250;
	height: 372px;
	margin: 0 auto 0 auto;
	position: absolute;
	left: 188px;
	width: 100%;
	-moz-box-shadow:3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  	box-shadow: 3px 3px 5px 6px #ccc;
}

#name1{
	margin: 10px auto 0 20px !important;
}

.col2{
	margin-top: -448px;
	left: 400px;
	position: absolute;
}

table{
	margin-left: 10px;
	width: 50% !important;
	margin-top: 10px;
}

h1#roi{
	margin-top: 90px;
	font-size: 2em;
	width: 90%;
}

@media (min-width: 1200px){
	.calculator {
	width: 570px;
	margin: -548px auto 0 700px;
	}

}